@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

/* links */
li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
}

a{
    color: #777;
    text-decoration: none;
}

ul {
    padding-left: 0px;
    padding: 5px 0px;
    border-top: solid #777;
    border-bottom: solid #777;
    border-width: thin ;
    text-align: center;
}

/* title */

h1{
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 50px;
}


.boximg {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
  }

  p{
    font-weight: lighter;
    font-size: 15px;
    text-align: justify;
    padding: 0px 16px;
  }


/*section{
        background-color: white;
        float: left;
        width: 45%;
      }

h4{
    padding-left: 55px;
    padding-right: 55px;
    font-family: Roboto Slab;
    font-size: 30px;
}

section img{
display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
} */

h5{
    color: red;
    font-family: roboto slab;
    font-size: 20px;
}

h2{
    font-family: roboto slab;
    font-size: 25px;
}

body{
    background-color: #eee;
    font-family: source sans pro;
    
}

.newspaper-container{
    width: 700px;
    background-color: white;
    border-radius: 15px;
    padding:15px;
    margin: 30px auto;
    box-shadow: 1px 1px 10px #ddd;
} 